.SearchandCheck .dropdown-menu,
.autocompleteInput .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
}
.sticky-container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.badge-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 0.7rem;
}
.badge {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control:focus + .dropdown-menu {
    display: block;
}
.input-container {
    position: relative;
    width: 100%;
}
.dropdown-menu.show {
    display: block;
}

.MaxMin .dropdown-menu {
    width: 100%;
    position: absolute;
}
.input-container {
    position: relative;
    width: 100%;
}
.dropdown-menu.show {
    display: block;
}








.input-container {
    position: relative;
}

.close-icon,
.down-icon {
    position: absolute;
    right: 18px;
    top: 44%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    /* Adjust the color as needed */
}

.close-icon {
    display: block;
    /* Hide initially */
}

.down-icon {
    display: none;
    /* Show initially */
}

.input-container input:focus+.close-icon {
    display: block;
    /* Show the close icon when the input is focused */
}

.input-container input:focus+.close-icon+.down-icon {
    display: none;
    /* Hide the down icon when the input is focused */
}

.close-icon:hover,
.down-icon:hover {
    color: #000;
    /* Change color on hover */
}



/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Success message style */
.tooltip-container.success .tooltip-text {
    background-color: green;
}




.dropdown-item {
    transition: .4s ease-in-out;
}

.dropdown-item:hover {
    cursor: pointer !important;
    background-color: aliceblue !important;
    border-radius: 10px !important;
}
